<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./bootstrap_serv/link') %>
    <title>HomePage</title>
</head>
<body>
    <%- include('./bootstrap_serv/nav') %>
    <div class="container mt-5">
   <div class="row row-cols-4">
<%blog.forEach(blog => { %>
  <div class="col">
    <div class="card col" style="width: 18rem;">
        <img src="<%= blog.coverImageUrl %>" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title"><%= blog.Title %></h5>
          
          <a href="/blog/<%= blog._id %>" class="btn btn-primary">Visit</a>
        </div>
      </div>
    </div>
<% }) %>
</div>
  </div>
    <%- include('./bootstrap_serv/scripts') %>
</body>
</html>